<div >
    <nca-login [flag1]="flag" (chatuiflag)="uiflag($event)"></nca-login>
</div>



<div class="container" *ngIf="flag">
  <h1 class="justify-content-center d-flex">Welcome {{usr}}</h1>
    
        <nca-channel></nca-channel>
        <br>
        <hr>
        <button (click)="logout()">Logout</button>
        <hr>
        <hr>
      
      <!-- <div class="col">
        <nca-channel></nca-channel>
        <nca-sendmessage></nca-sendmessage>
       <nca-getmessage></nca-getmessage>
      </div> -->
      <!-- <div class="col">
        <nca-sendmessage></nca-sendmessage>
      </div> -->
    </div>
    